[project]
	description = An Hobby OS targeting AMD64 derived from xv6 (see https://github.com/swetland/xv6)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Simon DotOrg (maxymania)
[access "refs/for/refs/*"]
	read = group user/Simon DotOrg (maxymania)
	push = group user/Simon DotOrg (maxymania)
	label-Code-Review = -2..+2 group user/Simon DotOrg (maxymania)
	label-Verified = -1..+1 group user/Simon DotOrg (maxymania)
	rebase = group user/Simon DotOrg (maxymania)
	removeReviewer = group user/Simon DotOrg (maxymania)
	submit = group user/Simon DotOrg (maxymania)
[access "refs/heads/*"]
	read = group user/Simon DotOrg (maxymania)
	create = group user/Simon DotOrg (maxymania)
	push = +force group user/Simon DotOrg (maxymania)
	pushMerge = group user/Simon DotOrg (maxymania)
[access "refs/tags/*"]
	push = +force group user/Simon DotOrg (maxymania)
	pushTag = group user/Simon DotOrg (maxymania)
	pushSignedTag = group user/Simon DotOrg (maxymania)
